auth.yaml
venv
*.pyc
*~

.sass-cache
.webcache
.cache

.env

# Coverage data
.coverage
htmlcov

# The locally checked out repos
.oep2-workspace

# Ourselves, installed
edx_repo_tools.egg-info

# PyCharm files
.idea/

build/
