include LICENSE.txt
include README.rst
include requirements/base.in
recursive-include edx_repo_tools *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
recursive-include django3_codemods *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
recursive-include django2_codemods *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
