CacheControl==0.10.7
Flask==0.10.1
PyYAML==3.11
SQLAlchemy==0.9.8
ansicolors==1.0.2
click
github3.py==0.7.1
gunicorn==18.0
iso8601
lockfile==0.9.1
more_itertools
psycopg2==2.5.4
pylint
python-dateutil
requests==2.5.0
statistics
uritemplate.py==0.2.0
urlobject
wsgiref==0.1.2
jira
Scrapy>=1.0
path.py
gitpython
numpy
