<!DOCTYPE html>
<head>
<title>Wall of Shame</title>
<link rel="stylesheet" type="text/css" href="wall.css">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin" rel="stylesheet" type="text/css">
<body>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

<script>
/* Fixed scale so people can see the change over time. */
var x_scale = d3.scale.linear()
    .domain([0, 20])
    .range([0, 420]);

function dteam(d) {
    var team = d.team;
    if (team === "community managers") {
        return "ComMgrs";
    }
    if (team === "author") {
        return "(author)";
    }
    return team;
}

function translate(x, y) {
    return "translate(" + x + "," + y + ")";
}

var margin = { top: 10, right: 10, bottom: 10, left: 10 },
    width = { chart: 600, team: 80, total: 30 },
    bar_height = 30,
    pull_height = 17;

var team_right = width.team,
    total_right = team_right + width.total,
    bar_left = total_right + 10;

var duration = 400;

var svg = null;
var the_data = null;

function click(team) {
    if (team.showing && team.showing.length) {
        team.showing = [];
        /*
        team.pull_div.slideUp(duration, function() {
            team.pull_div.remove();
            team.pull_div = null;
        });
        */
    }
    else {
        team.showing = [];
        $.each(["internal", "external"], function (i, intext) {
            $.each(team[intext], function (i, pulls) {
                team.showing = team.showing.concat(pulls);
            });
        });

        var pulls = team.showing.map(function (id) {
            return the_data.pulls[id];
        });
        pulls.sort(function (a, b) {
            if (a.created_at < b.created_at) {
                return -1;
            }
            else {
                return 1;
            }
        });

        var matrix = this.getScreenCTM()
                .translate(+this.getAttribute("cx"), +this.getAttribute("cy"));

        var pull_div = $("<div/>")
            .addClass("pulls")
            .css("left", (window.pageXOffset + matrix.e) + "px")
            .css("top", (window.pageYOffset + matrix.f + 30) + "px")
            .css("width", "95%").css("height", team.showing.length*pull_height + "px")
            .html("")/* pulls_template({pulls:pulls})) */
            .appendTo("body").hide();
        /*pull_div.slideDown(duration);*/
        team.pull_div = pull_div;
    }
    update(the_data);
}

function update(data) {
    function intext(d, bucket) {
        return d.internal[bucket].length + d.external[bucket].length;
    }

    /* SVG chart */
    var team = svg.selectAll(".team_row")
        .data(data.teams);

    var teamEnter = team.enter()
        .append("g").attr("class", "team_row")
        .on("click", click);

    var next_y = 0;
    team.transition().duration(duration)
        .attr("transform", function (t) {
            var y_pos = next_y;
            var num_showing = t.showing && t.showing.length || 0;
            next_y += bar_height;
            if (num_showing > 0) {
                next_y += pull_height * num_showing + 5;
            }
            return translate(0, y_pos);
        });

    d3.select("#svgchart svg")
        .transition().duration(duration)
        .attr("height", next_y + margin.top + margin.bottom);

    teamEnter.append("text").attr("class", "team")
        .attr("x", team_right).attr("y", bar_height/2).attr("dy", "0.3em")
        .text(dteam);
    teamEnter.append("text").attr("class", "total")
        .attr("x", total_right).attr("y", bar_height/2).attr("dy", "0.3em")
        .text(function (d) { return d.total; });

    var team_buckets = [];
    data.teams.forEach(function (team, i) {
        var team_bucket = team_buckets[i] = [];
        var total = 0;
        data.buckets.forEach(function (bucket, j) {
            var width = intext(team, j);
            team_bucket[j] = { x: total, width: width, external: team.external[j].length };
            total += width;
        });
    });

    var bucket = teamEnter.selectAll(".bucket")
        .data(function (d, i) { return team_buckets[i]; })
        .enter().append("g")
            .attr("transform", function (d) {
                    return translate(bar_left + x_scale(d.x), 0);
                });

    bucket.append("rect")
        .attr("class", function (d, i) { return "bucket bucket"+i; })
        .attr("x", 0).attr("y", 0)
        .attr("width", function (d) { return x_scale(d.width); })
        .attr("height", bar_height - 3);

    bucket.append("rect")
        .attr("class", "external")
        .attr("x", 0).attr("y", bar_height - 3 - 10)
        .attr("width", function (d) { return x_scale(d.external); })
        .attr("height", 10)

    bucket.append("text")
        .attr("class", function (d, i) { return "count bucket"+i; })
        .attr("x", function (d) { return x_scale(d.width)-3; })
        .attr("y", 12)
        .text(function (d) { 
            var count = d.width;
            return count > 3 ? count : "";
        });

    var pull_detail = team.selectAll(".pull-detail")
        .data(function (d, i) {
            if (d.showing) {
                var pulls = d.showing.map(function (id) { return the_data.pulls[id]; });
                pulls.sort(function (a, b) {
                    if (a.created_at < b.created_at) {
                        return -1;
                    }
                    else {
                        return 1;
                    }
                });
                return pulls;
            }
            else {
                return [];
            }
        });

    var pull_detail_enter = pull_detail.enter()
        .append("g")
        .attr("class", "pull-detail")
        .attr("transform", translate(0, bar_height))
        .style("opacity", 1e-6);

    pull_detail_enter.transition().duration(duration)
        .delay(function (d, i) { return i * 20; })
        .attr("transform", function (d, i) {
            return translate(0, bar_height + 12 + pull_height * i);
        })
        .style("opacity", 1);

    var columns = [10, 1, 1, 3, 2, 2.5, 2, 3, 2, 3];
    function upto(i) {
        var x = 0;
        for (ii = 0; ii < i; ii++) {
            x += columns[ii];
        }
        return x + "em";
    }

    pull_detail_enter.append("a")
        .attr("xlink:href", function (p) { return p.user_html_url; })
        .append("text").attr("class", "user")
        .attr("x", upto(1))
        .text(function (p) { return p.user_login; });

    pull_detail_enter.append("circle").attr("class", "external")
        .attr("cx", upto(2)).attr("cy", -pull_height*.25)
        .attr("r", function (p) {
            if (p.org != "edX") {
                return pull_height*.4;
            }
            else {
                return 0;
            }
        });

    pull_detail_enter.append("text").attr("class", "external")
        .attr("x", upto(2)).attr("y", -pull_height*.25)
        .attr("text-anchor", "middle").attr("dy", "0.3em")
        .text(function (p) {
            if (p.org != "edX" && p.org != "other") {
                return p.org.substring(0,1);
            }
            else {
                return "";
            }
        });

    pull_detail_enter.append("a")
        .attr("xlink:href", function (p) { return p.html_url; })
        .append("text").attr("class", "number")
        .attr("x", upto(3))
        .text(function (p) { return p.number; });

    pull_detail_enter.append("rect")
        .attr("class", function (p) { return "bucket" + p.created_bucket; })
        .attr("x", upto(4)).attr("y", "-1em")
        .attr("rx", 4).attr("ry", 4)
        .attr("width", "4em").attr("height", "1.3em");

    pull_detail_enter.append("text")
        .attr("class", function (p) { return "date bucket" + p.created_bucket; })
        .attr("x", upto(5)).attr("text-anchor", "middle")
        .text(function (p) { return p.created_nice; });

    pull_detail_enter.append("rect")
        .attr("class", function (p) { return "bucket" + p.updated_bucket; })
        .attr("x", upto(6)).attr("y", "-1em")
        .attr("rx", 4).attr("ry", 4)
        .attr("width", "4em").attr("height", "1.3em");

    pull_detail_enter.append("text")
        .attr("class", function (p) { return "date bucket" + p.updated_bucket; })
        .attr("x", upto(7)).attr("text-anchor", "middle")
        .text(function (p) { return p.updated_nice; });

    pull_detail_enter.append("a")
        .attr("xlink:href", function (p) { return p.html_url; })
        .append("text").attr("class", "title")
        .attr("x", upto(8))
        .text(function (p) { return p.title; });

    pull_detail.exit().transition().duration(duration)
        .attr("transform", translate(0, bar_height))
        .style("opacity", 1e-6)
        .remove();

    /* Legend */
    d3.select("#legend").selectAll("span")
        .data(data.buckets)
        .enter().append("span")
            .attr("class", function (d, i) { return "bucket bucket"+i; })
            .text(function (d) { return d; });

}

var pulls_template;

$(function () {

    pulls_template = _.template($("script#pulls").html());
    pulls_template = _.template($("script#pulls_svg").html());
 
    svg = d3.select("#svgchart").append("svg")
        .attr("width", "100%")
        .append("g")
            .attr("transform", translate(margin.left, margin.top));

    d3.json("wall.json", function(data) {
        the_data = data;
        update(data);
    });

});
</script>

<script type="text/template" id="pulls">
    <table class="pulls">
    <% _.each(pulls, function (pull) { %>
        <tr>
            <td class="user"><a href="<%= pull.user_html_url %>"><%= pull.user_login %></a></td>
            <td class="org">
                <% if (pull.org != "edX") { %>
                    <span class="external">
                        <% if (pull.org != "other") { %>
                            <%= pull.org.substring(0,1) %>
                        <% } else { %>
                            &nbsp;&nbsp;
                        <% } %>
                    </span>
                <% } %>
            </td>
            <td class="number">
                <a href="<%= pull.html_url %>"><%= pull.number %></a>
            </td>
            <td class="created"><div class="bucket<%= pull.created_bucket %>"><%= pull.created_nice %></div></td>
            <td class="updated"><div class="bucket<%= pull.updated_bucket %>"><%= pull.updated_nice %></div></td>
            <td class="title">
                <a href="<%= pull.html_url %>"><%= pull.title %></a>
            </td>
        </tr>
    <% }); %>
    </table>
</script>

<script type="text/template" id="pulls_svg">
    <text>XYZ <%= user_login %></text>
</script>

<div id="svgchart"></div>
<div id="legend"></div>
