body {
    font-family: "Open Sans", sans-serif;
}

$sat: 90%;
$light: 60%;

$b0: hsl(hue(red), $sat, $light);
$b1: hsl(hue(orange), $sat, $light);
$b2: hsl(hue(yellow), $sat, $light - 10%);
$b3: hsl(hue(green), $sat, $light - 15%);

@function text-on($color) {
    @if (0.21*red($color) + 0.72*green($color) + 0.07*blue($color) > 128) {
      @return #000000;
    }
    @else {
      @return #FFFFFF;
    }
}

$t0: text-on($b0);
$t1: text-on($b1);
$t2: text-on($b2);
$t3: text-on($b3);

svg {
    .team {
        text-anchor: end;
    }
    .total {
        text-anchor: end;
        font-weight: bold;
    }
    .count {
        text-anchor: end;
        font-size: 75%;
    }
    .external {
        opacity: .25;
        fill: black;
    }
    .bucket {
        stroke: #888;
        stroke-width: .25px;
    }
    .bucket0 {
        fill: $b0;
        &.count { fill: $t0; }
    }
    .bucket1 {
        fill: $b1;
        &.count { fill: $t1; }
    }
    .bucket2 {
        fill: $b2;
        &.count { fill: $t2; }
    }
    .bucket3 {
        fill: $b3;
        &.count { fill: $t3; }
    }
}

#legend {
    margin-top: 1em;
    font-size: .8em;

    span {
        padding: .1em .5em;
    }
}

.bucket0 { background: $b0; color: $t0; }
.bucket1 { background: $b1; color: $t1; }
.bucket2 { background: $b2; color: $t2; }
.bucket3 { background: $b3; color: $t3; }

div.pulls {
    position: absolute;
    font-size: 80%;

    table {
        border-collapse: collapse;

        td {
            border-width: 0 1px;
            padding: 0 .5em;
        }
        td.number {
            text-align: right;
            font-weight: bold;
        }
        td.user {
            text-align: right;
            width: 150px;
        }
        td.org {
            text-align: center;
            width: 1em;
            span.external {
                font-size: 90%;
                border-radius: 9px;
                background: #888;
                color: white;
                padding: 0 .5em;
            }
        }
        td.created, td.updated {
            padding: 0 .25em;
            text-align: center;
            div {
                padding: 0 .25em;
                border-radius: 4px;
            }
        }
    }

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
