body {
    font-family: "Open Sans", sans-serif;
}

$b0: #D33; $t0: white;
$b1: #FD3; $t1: black;
$b2: #9D3; $t2: black;
$b3: #390; $t3: white;

svg {
    .team {
        text-anchor: end;
    }
    .total {
        text-anchor: end;
        font-weight: bold;
    }
    .count {
        text-anchor: end;
        font-size: 75%;
    }
    .bucket0 {
        fill: $b0;
        &.count {
            fill: $t0;
        }
    }
    .bucket1 {
        fill: $b1;
        &.count {
            fill: $t1;
        }
    }
    .bucket2 {
        fill: $b2;
        &.count {
            fill: $t2;
        }
    }
    .bucket3 {
        fill: $b3;
        &.count {
            fill: $t3;
        }
    }
}

#legend {
    margin-top: 1em;
    font-size: .8em;

    span {
        padding: .1em .5em;
    }

    .bucket0 {
        background: $b0; color: $t0;
    }
    .bucket1 {
        background: $b1; color: $t1;
    }
    .bucket2 {
        background: $b2; color: $t2;
    }
    .bucket3 {
        background: $b3; color: $t3;
    }
}
