body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: #1d9dd9;
    font-weight: 400;
    font-size: 150%;
}

$sat: 90%;
$light: 60%;

$b0: hsl(hue(red), $sat, $light);
$b1: hsl(hue(orange), $sat, $light);
$b2: hsl(hue(yellow), $sat, $light - 10%);
$b3: hsl(hue(green), $sat, $light - 15%);

@function text-on($color) {
    @if (0.2*red($color) + 0.7*green($color) + 0.1*blue($color) > 128) {
      @return #000000;
    }
    @else {
      @return #FFFFFF;
    }
}

$t0: text-on($b0);
$t1: text-on($b1);
$t2: text-on($b2);
$t3: text-on($b3);

svg {
    .team {
        text-anchor: end;
    }
    .total {
        text-anchor: end;
        font-weight: bold;
    }
    .count {
        text-anchor: end;
        font-size: 75%;
    }
    .external {
        opacity: .25;
        fill: black;
    }
    .bucket {
        stroke: #888;
        stroke-width: .25px;
    }
    .bucket0 { fill: $b0; }
    .bucket1 { fill: $b1; }
    .bucket2 { fill: $b2; }
    .bucket3 { fill: $b3; }
    text.bucket0 { fill: $t0; }
    text.bucket1 { fill: $t1; }
    text.bucket2 { fill: $t2; }
    text.bucket3 { fill: $t3; }

    .pull-detail {
        font-size: 85%;
    }

    a text:hover {
        text-decoration: underline;
    }

    .team-bar {
        cursor: pointer;
    }
}

#legend {
    float: left;
    margin-top: 1em;
    margin-right: 2em;
    font-size: .8em;

    span {
        padding: .1em .5em;
    }
}

#timestamp {
    margin-top: 1em;
    font-size: 75%;
    font-style: italic;
}


.bucket0 { background: $b0; color: $t0; }
.bucket1 { background: $b1; color: $t1; }
.bucket2 { background: $b2; color: $t2; }
.bucket3 { background: $b3; color: $t3; }

body.pull-detail {
    margin: 0;
    padding: 0;

    div {
        margin: 0;
        padding: 0;

        div {
            display: inline-block;
            margin: 0 .1em;

            & a {
                text-decoration: none;
                color: black;
                &:hover {
                    text-decoration: underline;
                }
            }

            &.user {
                width: 8em;
                text-align: right;
            }
            &.org {
                width: 1.5em;
                padding: 0;
                text-align: center;
                background: #888;
                color: white;
                opacity: 1;
                font-size: 90%;
                border-radius: .75em;
            }
            &.number {
                width: 2.5em;
                padding: 0 0.5em;
                text-align: right;
                font-weight: bold;
            }
            &.created, &.updated {
                width: 4em;
                text-align: center;
                border-radius: 4px;
            }
            &.repo {
                width: 1.25em;
                text-align: center;
                color: #666;
            }
            &.rest .title {
                margin-right: .5em;
            }

            & .other-label {
                font-size: 85%;
                color: #666;
                padding: 0 .5em;
                background: #ffc;
                border: 1px solid #bbb;
                border-radius: 2px;
            }
        }
    }
}
