<!DOCTYPE html>
<head>
<title>Pull Request Aging</title>
<link rel="stylesheet" type="text/css" href="age.css">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin" rel="stylesheet" type="text/css">
<body>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>

<script>
/* Fixed scale so people can see the change over time. */
var x_scale = d3.scale.linear()
    .domain([0, 20])
    .range([0, 420]);

function dteam(d) {
    var team = d.team;
    if (team === "community managers") {
        return "ComMgrs";
    }
    if (team === "author") {
        return "(author)";
    }
    return team;
}

function translate(x, y) {
    return "translate(" + x + "," + y + ")";
}

function short_date(d) {
    return moment(d).format("MMM D");
}

var margin = { top: 10, right: 10, bottom: 10, left: 10 },
    width = { chart: 600, team: 80, total: 30 },
    bar_height = 30,
    pull_height = 17;

var team_right = width.team,
    total_right = team_right + width.total,
    bar_left = total_right + 10;

var duration = 400;

var svg = null;
var the_data = null;

function click(team) {
    if (team.showing && team.showing.length) {
        team.showing = [];
    }
    else {
        team.showing = [];
        $.each(["internal", "external"], function (i, intext) {
            $.each(team[intext], function (i, pulls) {
                team.showing = team.showing.concat(pulls);
            });
        });

        var matrix = this.getScreenCTM()
                .translate(+this.getAttribute("cx"), +this.getAttribute("cy"));

        team.table_at = [window.pageXOffset + matrix.e, window.pageYOffset + matrix.f + 30];
    }
    update(the_data);
}

function update(data) {
    function intext(d, bucket) {
        return d.internal[bucket].length + d.external[bucket].length;
    }

    /* SVG chart */
    var team = svg.selectAll(".team-row")
        .data(data.teams);

    var teamEnter = team.enter()
        .append("g").attr("class", "team-row");

    var next_y = 0;
    var last_opened = false;
    team.transition().duration(duration)
        .attr("transform", function (t) {
            var y_pos = next_y;
            var num_showing = t.showing && t.showing.length || 0;
            var this_opened = (num_showing > 0);
            if (next_y != 0 && this_opened && !last_opened) {
                y_pos += 15;
            }
            next_y = y_pos + bar_height;
            if (this_opened) {
                next_y += pull_height * num_showing + 35;
            }
            last_opened = this_opened;
            return translate(0, y_pos);
        });

    d3.select("#svgchart svg")
        .transition().duration(duration)
        .attr("height", next_y + margin.top + margin.bottom);

    var teamBar = teamEnter.append("g").attr("class", "team-bar")
        .on("click", click);

    teamBar.append("text").attr("class", "team")
        .attr("x", team_right).attr("y", bar_height/2).attr("dy", "0.3em")
        .text(dteam);
    teamBar.append("text").attr("class", "total")
        .attr("x", total_right).attr("y", bar_height/2).attr("dy", "0.3em")
        .text(function (d) { return d.total; });

    var team_buckets = [];
    data.teams.forEach(function (team, i) {
        var team_bucket = team_buckets[i] = [];
        var total = 0;
        data.buckets.forEach(function (bucket, j) {
            var width = intext(team, j);
            team_bucket[j] = { x: total, width: width, external: team.external[j].length };
            total += width;
        });
    });

    var bucket = teamBar.selectAll(".bucket")
        .data(function (d, i) { return team_buckets[i]; })
        .enter().append("g")
            .attr("transform", function (d) {
                    return translate(bar_left + x_scale(d.x), 0);
                });

    bucket.append("rect")
        .attr("class", function (d, i) { return "bucket bucket"+i; })
        .attr("x", 0).attr("y", 0)
        .attr("width", function (d) { return x_scale(d.width); })
        .attr("height", bar_height - 3);

    bucket.append("rect")
        .attr("class", "external")
        .attr("x", 0).attr("y", bar_height - 3 - 10)
        .attr("width", function (d) { return x_scale(d.external); })
        .attr("height", 10)

    bucket.append("text")
        .attr("class", function (d, i) { return "count bucket"+i; })
        .attr("x", function (d) { return x_scale(d.width)-3; })
        .attr("y", 12)
        .text(function (d) { 
            var count = d.width;
            return count > 3 ? count : "";
        });

    var pull_detail = team.selectAll("g.pull-detail")
        .data(function (d, i) {
            var pulls = [];
            if (d.showing) {
                pulls = d.showing.map(function (id) { return the_data.pulls[id]; });
                pulls.sort(function (a, b) {
                    if (a.created_at < b.created_at) {
                        return -1;
                    }
                    else {
                        return 1;
                    }
                });
            }
            return pulls;
        });

    var pull_detail_enter = pull_detail.enter()
        .append("g").attr("class", "pull-detail")
        .style("opacity", 1e-6)
        .attr("transform", function (d, i) {
            return translate(500, bar_height + (pull_height * i)/3);
        });

    var fo = pull_detail_enter.append("foreignObject")
        .attr("width", "100%").attr("height", pull_height);

    fo.append("xhtml:body").attr("class", "pull-detail")
        .html(function(p) {
            /* Hmm, this seems fragile, but .closest() didn't work? */
            var in_label = $(this).parent().parent().parent()[0].__data__.team;
            return pull_detail_template({ pull: p, in_label: in_label }); 
        });

    pull_detail_enter.transition().duration(duration)
        .delay(function (d, i) { return i * 20; })
        .attr("transform", function (d, i) {
            return translate(0, bar_height + pull_height * i);
        })
        .style("opacity", 1);

    pull_detail.exit().transition().duration(duration)
        .attr("transform", translate(0, bar_height))
        .style("opacity", 1e-6)
        .remove();

    /* Legend */
    d3.select("#legend").selectAll("span")
        .data(data.buckets)
        .enter().append("span")
            .attr("class", function (d, i) { return "bucket bucket"+i; })
            .text(function (d) { return d; });

}

var pull_detail_template;

$(function () {

    pull_detail_template = _.template($("script#pull-detail-template").html());
 
    svg = d3.select("#svgchart").append("svg")
        .attr("width", "100%")
        .append("g")
            .attr("transform", translate(margin.left, margin.top));

    d3.json("age.json", function(data) {
        the_data = data;
        $("#timestamp").text(moment(moment.utc(data.updated).toDate()).format("MMM D, h:mm a"));
        update(data);
    });

    $(".actions .collapse-all").click(function () {
        $.each(the_data.teams, function (i, team) {
            team.showing = [];
        });
        update(the_data);
    });
});
</script>

<script type="text/template" id="pull-detail-template">
    <div>
        <div class="user">
            <a href="<%= pull.user_html_url %>"><%= pull.user_login %></a>
        </div>
        <div class="org">
            <% if (pull.org != "edX") { %>
                <% if (pull.org != "other") { %>
                    <%= pull.org.substring(0,1) %>
                <% } else { %>
                    &nbsp;&nbsp;
                <% } %>
            <% } %>
        </div>
        <div class="created bucket<%= pull.created_bucket %>">
            <%= short_date(pull.created_at) %>
        </div>
        <div class="updated bucket<%= pull.updated_bucket %>">
            <%= short_date(pull.updated_at) %>
        </div>
        <div class="repo">
            <% if (pull.repo != "edx") { %>
                <%= pull.repo %>
            <% } %>
        </div>
        <div class="number">
            <a href="<%= pull.pull_request_html_url %>"><%= pull.number %></a>
        </div>
        <div class="rest">
            <div class="title">
                <a href="<%= pull.pull_request_html_url %>"><%= pull.title %></a>
            </div>
            <% $.each(pull.labels, function (i, label) { %>
                <% if (label !== in_label && label !== "osc") { %>
                    <div class="other-label"><%= label %></div>
                <% } %>
            <% }); %>
        </div>
    </div>
</script>

<h1>Pull Request Aging</h1>

<div id="svgchart"></div>
<div id="legend"></div>
<div id="timestamp"></div>
<div class="actions">
    <div class="collapse-all">Collapse All</div>
</div>
