body {
    font-family: "Open Sans", sans-serif;
}

$header: #1d9dd9;

h1 {
    color: $header;
    font-weight: normal;
    font-size: 150%;

    .total-count {
        display: inline-block;
        width: 5.16em;
        text-align: right;
        font-weight: bold;
    }
}

$sat: 90%;
$light: 60%;

$b0: hsl(hue(red), $sat, $light);
$b1: hsl(hue(orange), $sat, $light);
$b2: hsl(hue(yellow), $sat, $light - 10%);
$b3: hsl(hue(green), $sat, $light - 15%);

$bb0: darken($b0, 5%);
$bb1: darken($b1, 5%);
$bb2: darken($b2, 5%);
$bb3: darken($b3, 5%);

@function text-on($color) {
    @if (0.2*red($color) + 0.7*green($color) + 0.1*blue($color) > 128) {
      @return #000000;
    }
    @else {
      @return #FFFFFF;
    }
}

$t0: text-on($b0);
$t1: text-on($b1);
$t2: text-on($b2);
$t3: text-on($b3);

#svgchart {
    margin-left: 10px;
};

svg {
    .team {
        text-anchor: end;
    }
    .total {
        text-anchor: end;
        font-weight: bold;
    }
    .count {
        text-anchor: end;
        font-size: 75%;
    }
    .external {
        opacity: .25;
        fill: black;
    }
    .bucket {
        stroke-width: .5px;
    }
    .bucket0 { fill: $b0; stroke: $bb0; }
    .bucket1 { fill: $b1; stroke: $bb1; }
    .bucket2 { fill: $b2; stroke: $bb2; }
    .bucket3 { fill: $b3; stroke: $bb3; }
    text.bucket0 { fill: $t0; stroke: none; }
    text.bucket1 { fill: $t1; stroke: none; }
    text.bucket2 { fill: $t2; stroke: none; }
    text.bucket3 { fill: $t3; stroke: none; }

    .pull-detail {
        font-size: 75%;
    }

    a text:hover {
        text-decoration: underline;
    }

    .team-bar {
        cursor: pointer;
    }
}

#footer {
    margin-top: 2em;
    margin-right: 2em;

    &:hover .actions {
        div {
            background: #aaa;
        }
    }

}

.legend {
    float: left;
    font-size: .8em;

    span {
        padding: .1em .5em;
        border-width: 1px;
        border-style: solid;
    }
}

.timestamp, .exhortation {
    font-size: 75%;
    font-style: italic;
    float: left;
    margin-left: 2em;
}


.bucket0 { background: $b0; color: $t0; border-color: $bb0; }
.bucket1 { background: $b1; color: $t1; border-color: $bb1; }
.bucket2 { background: $b2; color: $t2; border-color: $bb2; }
.bucket3 { background: $b3; color: $t3; border-color: $bb3; }

.detail-legend {
    clear: both;
    font-size: 75%;

    opacity: .25;
    &:hover {
        opacity: 1;
    }

    &.pull-detail-row {
        padding-top: 1em;

        &:hover {
            background: white;
        }
    }

    & .explanation {
        margin: .5em 0 0 10em;
        font-style: italic;
    }
}

.pull-detail-row {
    margin: 0;
    padding: 0;

    &:hover {
        background: #eee;
    }

    & .help-text {
        display: none;
    }

    div {
        margin: 0;
        padding: 0;

        div {
            display: inline-block;
            margin: 0 .1em;

            & a {
                text-decoration: none;
                color: black;
                &:hover {
                    text-decoration: underline;
                }
            }

            &.user {
                width: 8em;
                text-align: right;
            }
            &.org {
                width: 1.5em;
                padding: 0;
                text-align: center;
                background: #888;
                color: white;
                opacity: 1;
                font-size: 90%;
                border-radius: .75em;
                &.unsigned {
                    background: red;
                    font-weight: bold;
                }
            }
            &.number {
                width: 2.5em;
                padding: 0 0.5em;
                text-align: right;
                font-weight: bold;
            }
            &.created, &.updated {
                width: 4em;
                height: 1.3em;
                text-align: center;
                border-radius: 4px;
                border-width: 1px;
                border-style: solid;
                &.bucket3 {
                    background: none;
                    border-color: white;
                }
            }
            &.repo {
                width: 2em;
                text-align: center;
                color: #666;
            }
            &.rest {
                white-space: nowrap;
                /* max-width needs to be here, but the value doesn't matter? */
                max-width: 1em;
                .title {
                    margin-right: .5em;
                }
            }

            & .other-label {
                font-size: 85%;
                color: #666;
                padding: 0 .5em;
                background: #ffd;
                border: 1px solid #bbb;
                border-radius: 2px;
            }

            & .assignee {
                font-size: 85%;
                background: #ddf;
                border: 1px solid #bbb;
                border-radius: 1em;
                padding: 0 .5em;
            }

            & .base_ref {
                padding-left: 1em;
                color: #666;
            }

            &.helping {
                outline: 1px dotted black;
            }
        }
    }
}

.actions {

    clear: both;
    padding-top: 1em;

    div {
        display: inline-block;
        background: #f8f8f8;
        color: white;
        font-size: 66%;
        padding: 0 .75em;
        cursor: pointer;
    }
}

