<!DOCTYPE html>
<head>
<title>Pull Request Age</title>
<link rel="stylesheet" type="text/css" href="age.css">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin" rel="stylesheet" type="text/css">
<body>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>

<script>
/* Fixed scale so people can see the change over time. */
var x_scale = d3.scale.linear()
    .domain([0, 20])
    .range([0, 420]);

function displayed_team_name(d) {
    var team = d.team;
    if (team === "community managers") {
        return "ComMgrs";
    }
    if (team === "author") {
        return "(author)";
    }
    return team;
}

function translate(x, y) {
    return "translate(" + x + "," + y + ")";
}

function svg_position(that) {
    var matrix = that.getScreenCTM()
            .translate(+that.getAttribute("cx"), +that.getAttribute("cy"));
    return [window.pageXOffset + matrix.e, window.pageYOffset + matrix.f];
}

function short_date(d) {
    return moment(d).format("MMM D");
}

function categorize_pulls(all_pulls, team_names) {
    var teams = { unlabelled: [] };

    $.each(team_names, function (i, team_name) {
        teams[team_name] = [];
    });

    for (pid in all_pulls) {
        var pull = all_pulls[pid];
        var categorized = false;
        $.each(pull.labels, function (i, label) {
            if (teams[label]) {
                teams[label].push(pull);
                categorized = true;
            }
        });
        if (!categorized) {
            teams["unlabelled"].push(pull);
        }

        pull.bucket = date_bucket(pull[date_attr]);
    }
    return teams;
}

function score_pulls(pulls) {
    return pulls.length;
}

function number_in_bucket(pulls, bucket, intext) {
    var number = 0;
    $.each(pulls, function (i, pull) {
        if (pull.bucket === bucket) {
            if (typeof intext === "undefined" || intext == pull.intext) {
                number++;
            }
        }
    });
    return number;
}

var width = { chart: 600, team: 80, total: 30 },
    bar_height = 30,
    pull_height = 18;

var team_right = width.team,
    total_right = team_right + width.total,
    bar_left = total_right + 10;

var duration = 400;

var svg = null;
var the_data = null;
var expanded = {};      // map from team name to expanded boolean

function click_bar(team) {
    if (expanded[team.team]) {
        expanded[team.team] = false;
    }
    else {
        var svg_pos = svg_position(this);
        team.table_at = [svg_pos[0], svg_pos[1] + 30];
        expanded[team.team] = true;
    }
    update(the_data);
}

function expand_all() {
    $.each(the_data.team_names, function (i, team_name) {
        expanded[team_name] = true;
    });
    expanded["unlabelled"] = true;
}

function update(data) {
    $("h1 .total-count").text(""+Object.keys(data.pulls).length);
    $("h1 .title").text("Pull Requests");

    var categorized = categorize_pulls(data.pulls, data.team_names);
    var sorted_team_names = Object.keys(categorized).sort(function (a, b) {
        // Reverse ordered by pull scores, "authors" last.
        if (a === "author") {
            return 1;
        }
        else if (b === "author") {
            return -1;
        }
        var a_score = score_pulls(categorized[a]);
        var b_score = score_pulls(categorized[b]);
        if (a_score < b_score) {
            return 1;
        }
        else if (a_score > b_score) {
            return -1;
        }
        else {
            return 0;
        }
    });
    var sorted_teams = [];
    $.each(sorted_team_names, function (i, team_name) {
        sorted_teams.push({
            team: team_name, 
            pulls: categorized[team_name]
        });
    });

    /* SVG chart */
    var team = svg.selectAll(".team-row")
        .data(sorted_teams);

    var team_enter = team.enter()
        .append("g").attr("class", "team-row");

    var next_y = 0;
    var last_opened = false;
    team.transition().duration(duration)
        .attr("transform", function (t) {
            var y_pos = next_y;
            var num_showing = expanded[t.team] ? t.pulls.length : 0;
            var this_opened = (num_showing > 0);
            if (next_y != 0 && this_opened && !last_opened) {
                y_pos += 15;
            }
            next_y = y_pos + bar_height;
            if (this_opened) {
                next_y += pull_height * num_showing + 35;
            }
            last_opened = this_opened;
            return translate(0, y_pos);
        });

    d3.select("#svgchart svg")
        .transition().duration(duration)
        .attr("height", next_y);

    var team_bar = team_enter.append("g").attr("class", "team-bar")
        .on("click", click_bar);

    team_bar.append("text").attr("class", "team")
        .attr("x", team_right).attr("y", bar_height/2).attr("dy", "0.3em")
        .text(displayed_team_name);
    team_bar.append("text").attr("class", "total")
        .attr("x", total_right).attr("y", bar_height/2).attr("dy", "0.3em")
        .text(function (d) { return d.pulls.length; });

    var team_buckets = [];
    sorted_teams.forEach(function (team, i) {
        var team_bucket = team_buckets[i] = [];
        var total = 0;
        bucket_names.forEach(function (_, bucket_num) {
            var width = number_in_bucket(team.pulls, bucket_num);
            team_bucket[bucket_num] = { 
                x: total, 
                width: width, 
                external: number_in_bucket(team.pulls, bucket_num, "external")
            };
            total += width;
        });
    });

    var bucket = team_bar.selectAll(".buckets")
        .data(
            function (d, i) {
                return team_buckets[i];
            }
        );

    var bucket_enter = bucket.enter().append("g").attr("class", "buckets")
        .attr("transform", translate(bar_left, 0));

    var bucket_rect = bucket_enter.append("rect")
        .attr("class", function (d, i) { return "bucket bucket"+i; })
        .attr("x", function(d) { return x_scale(d.x); }).attr("y", 0)
        .attr("width", 0).attr("height", bar_height - 3);

    bucket.transition().selectAll(".buckets .bucket").duration(duration/2)
        .attr("x", function(d) {
            return x_scale(d.x);
        })
        .attr("width", function (d) {
            return x_scale(d.width);
        });

    var bucket_external_rect = bucket_enter.append("rect")
        .attr("class", "external")
        .attr("x", function(d) { return x_scale(d.x); })
        .attr("y", bar_height - 3 - 10)
        .attr("width", 0).attr("height", 10);

    bucket_external_rect.transition().duration(duration*2)
        .attr("x", function(d) { return x_scale(d.x); })
        .attr("width", function (d) { return x_scale(d.external); });

    bucket_enter.append("text")
        .attr("class", function (d, i) { return "count bucket"+i; })
        .attr("x", function (d) { return x_scale(d.x+d.width)-3; })
        .attr("y", 12)
        .text(function (d) { 
            var count = d.width;
            return count > 3 ? count : "";
        });

    var pull_detail = team.selectAll("g.pull-detail")
        .data(function (d, i) {
            var pulls = [];
            if (expanded[d.team]) {
                pulls = d.pulls;
                pulls.sort(function (a, b) {
                    if (a[date_attr] < b[date_attr]) {
                        return -1;
                    }
                    else {
                        return 1;
                    }
                });
            }
            return pulls;
        });

    var pull_detail_enter = pull_detail.enter()
        .append("g").attr("class", "pull-detail")
        .style("opacity", 1e-6)
        .attr("transform", function (d, i) {
            return translate(500, bar_height + (pull_height * i)/3);
        });

    var fo = pull_detail_enter.append("foreignObject")
        .attr("width", "100%").attr("height", pull_height);

    fo.append("xhtml:body").attr("class", "pull-detail-row")
        .html(function(p) {
            /* Hmm, this seems fragile, but .closest() didn't work? */
            var in_label = $(this).parent().parent().parent()[0].__data__.team;
            return pull_detail_template({ pull: p, in_label: in_label }); 
        });

    pull_detail_enter.transition().duration(duration)
        .delay(function (d, i) { return i * 20; })
        .attr("transform", function (d, i) {
            return translate(0, bar_height + pull_height * i);
        })
        .style("opacity", 1);

    pull_detail.exit().transition().duration(duration)
        .attr("transform", translate(0, bar_height))
        .style("opacity", 1e-6)
        .remove();

    /* Legend */
    d3.select("#footer .legend").selectAll("span")
        .data(bucket_names)
        .enter().append("span")
            .attr("class", function (d, i) { return "bucket bucket"+i; })
            .text(function (d) { return d; });
}

var pull_detail_template;

var bucket_dates = [ null, null, null ];
var bucket_names;

function week_buckets() {
    bucket_dates[0] = moment.utc().subtract("days", 7).format();
    bucket_dates[1] = moment.utc().subtract("days", 14).format();
    bucket_dates[2] = moment.utc().subtract("days", 21).format();
    bucket_names = ["3+ weeks", "2-3 weeks", "1-2 weeks", "<1 week"];
}

function date_bucket(date) {
    for (var i = 0; i < bucket_dates.length; i++) {
        if (date > bucket_dates[i]) {
            break;
        }
    }
    return bucket_dates.length - i;
}

function getParameterByName(name) {
    var regex = new RegExp("[?&]" + name + "=([^&#]*)");
    var results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

var date_attr = "created_at";

function fetch_data() {
    d3.json("age.json", function (error, data) {
        if (error) {
            $("h1 .title").text("Pulling...");
            d3.text("age/write", function (error, data) {
                if (error) {
                    $("h1 .title").text("Ugh!");
                }
                else {
                    fetch_data();
                }
            });
        }
        else {
            the_data = data;
            if (expanded["all"]) {
                expand_all();
                expanded["all"] = false;
            }
            $("#footer .timestamp").text("Updated " + moment(moment.utc(data.updated).toDate()).format("MMM D, h:mm a"));
            update(data);
        }
    });
}

$(function () {

    week_buckets();

    pull_detail_template = _.template($("script#pull-detail-template").html());

    // ?expand=DevOps,LMS on the URL will pre-expand the named teams.
    $.each(getParameterByName("expand").split(","), function (i, arg) {
        expanded[arg] = true;
    });

    $(".actions .collapse-all").click(function () {
        expanded = {};
        update(the_data);
    });

    $(".actions .expand-all").click(function () {
        expand_all();
        update(the_data);
    });

    $(".actions .by-created").click(function () {
        date_attr = "created_at";
        update(the_data);
    });

    $(".actions .by-updated").click(function () {
        date_attr = "updated_at";
        update(the_data);
    });

    var help_legend = $(".explanation").html();

    $(".detail-legend .help-text").parent().hover(
        function () {
            $(this).addClass("helping");
            $(".explanation").html($(".help-text", this).html());
        },
        function () {
            $(this).removeClass("helping");
            $(".explanation").html(help_legend);
        }
    );

    svg = d3.select("#svgchart").append("svg")
        .attr("width", "100%");

    fetch_data();

});
</script>

<script type="text/template" id="pull-detail-template">
    <div>
        <div class="user">
            <a href="<%= pull.user_html_url %>"><%= pull.user_login %></a>
        </div>
        <div class="org <% if (pull.org === "unsigned") { %>unsigned<% } %>">
            <% if (pull.org != "edX") { %>
                <% if (pull.org != "other") { %>
                    <% if (pull.org === "unsigned") { %>
                        !
                    <% } else { %>
                        <%= pull.org.substring(0,1) %>
                    <% } %>
                <% } else { %>
                    &nbsp;&nbsp;
                <% } %>
            <% } %>
        </div>
        <div class="created bucket<%= date_bucket(pull.created_at) %>">
            <%= short_date(pull.created_at) %>
        </div>
        <div class="updated bucket<%= date_bucket(pull.updated_at) %>">
            <%= short_date(pull.updated_at) %>
        </div>
        <div class="repo">
            <% if (pull.repo != "edx") { %>
                <%= pull.repo %>
            <% } %>
        </div>
        <div class="number">
            <a href="<%= pull.pull_request_html_url %>"><%= pull.number %></a>
        </div>
        <div class="rest">
            <div class="title">
                <a href="<%= pull.pull_request_html_url %>"><%= pull.title %></a>
            </div>
            <% $.each(pull.labels, function (i, label) { %>
                <% if (label !== in_label && label !== "osc") { %>
                    <div class="other-label"><%= label %></div>
                <% } %>
            <% }); %>
            <% if (pull.assignee_login) { %>
                <div class="assignee"><%= pull.assignee_login %></div>
            <% } %>
            <% if (pull.base_ref !== "master") { %>
                <div class="base-ref">(&rarr;&nbsp;<%= pull.base_ref %>)</div>
            <% } %>
        </div>
    </div>
</script>

<h1><span class='total-count'></span> <span class='title'>Fetching Data...</span></h1>

<div id="svgchart"></div>

<section id="footer">
    <div class="legend"></div>
    <div class="timestamp"></div>
    <div class="exhortation">Psst! click on the bars!</div>

    <div class="legend-external">
        <svg width="100%" height="10">
            <g>
                <rect class="external-bar" width="160" height="100%"></rect>
                <text class="external-text" x="80" y="55%">External PRs</text>
            </g>
        </svg>
    </div>

    <div class="detail-legend pull-detail-row">
        <div>
            <div class="user">author
                <span class="help-text">The author of the pull request, linked to their GitHub profile</span>
            </div>
            <div class="org">X
                <span class="help-text">Dark dot means external contribution, with first letter of organization if known. Red dot: no CLA!</span>
            </div>
            <div class="created bucket0">create
                <span class="help-text">Created date, colored based on age</span>
            </div>
            <div class="updated bucket2">update
                <span class="help-text">Last-updated date, colored based on age</span>
            </div>
            <div class="repo">repo
                <span class="help-text">Shorthand for the repository, blank for edx-platform</span>
            </div>
            <div class="number">1234
                <span class="help-text">The pull request number</span>
            </div>
            <div class="rest">
                <div class="title">Change this code the way I want please, kthxbye
                    <span class="help-text">The description of the pull request</span>
                </div>
                <div class="other-label">team
                    <span class="help-text">Other teams labelled on the pull request</span>
                </div>
                <div class="assignee">assignee
                    <span class="help-text">The person assigned to the pull request, if any</span>
                </div>
                <div class="base-ref">(&rarr;&nbsp;dest-branch)
                    <span class="help-text">The destination branch, if not master</span>
                </div>
            </div>
        </div>
        <div class="explanation">Hover for explanation</div>
    </div>

    <div class="actions">
        <div class="collapse-all">Collapse All</div>
        <div class="expand-all">Expand All</div>
        <div class="by-created">By Created</div>
        <div class="by-updated">By Updated</div>
    </div>
</section>
